@using BuildMVCTeddySmith.DatabaseStuff.Enum;
@using BuildMVCTeddySmith.DatabaseStuff.Model;
@using BuildMVCTeddySmith.Dto;
@model CreateRaceDto
@{
    ViewData["Title"] = "Create";
}

<form method="post" asp-controller="Race" asp-action="Create" enctype="multipart/form-data" >
  <div class="form-group">
    <label asp-for="Title">Title</label>
    <input asp-for="Title" type="text" class="form-control">
    <span asp-validation-for="Title" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="Description" >Description</label>
    <input asp-for="Description" type="text" class="form-control" >
     <span asp-validation-for="Description" class="text-danger"></span>
  </div>
  
  <div class="form-group">
    <label asp-for="RaceCategory" >RaceCategory</label>
    <select asp-for="RaceCategory" asp-items="@Html.GetEnumSelectList<RaceCategory>()">
        <option> select stuff here</option>
    </select>
    <span asp-validation-for="RaceCategory"></span>
  </div>
  <div class="form-group">
    <label asp-for="Address.Street" >Street</label>
    <input asp-for="Address.Street" type="text" class="form-control" placeholder="" >
     <span asp-validation-for="Image" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="Address.City" >City</label>
    <input asp-for="Address.City" type="text" class="form-control" placeholder="" >
     <span asp-validation-for="Image" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="Address.State" >State</label>
    <input asp-for="Address.State" type="text" class="form-control" placeholder="dot" >
     <span asp-validation-for="Image" class="text-danger"></span>
  </div>
    <div class="form-group">
        <label asp-for="Image">Image</label>
        <input asp-for="Image" type="file" class="form-control" placeholder="image">
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
  <button type="submit" class="btn btn-primary"  >Submit</button>
</form>

